body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    background-color: rgb(30, 12, 12);
    color: white;
    background-size: cover;

}

.home img{
    position:absolute;
    width: 360px;
    margin-left: 30px;
    border-radius: 25%;
    font-family: monospace;
    color: #e3bdbd;
    font-weight: bold;
}

.click{
    background-color:rgb(0, 0, 0);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 170px;
}

.button{
    display: inline-block;
    padding: 1rem 2.0rem;
    background-color:  #100f0f;
    border-radius: 4rem;
    font-size: 1.2rem;
    color:  #b74b4b;
    font-weight: 700px;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    

}
.button:hover{
    color:black;
    border-radius: 2cm;
    transform: scale3d(1.03);
    background-color: #b74b4b;
    color: black;
    box-shadow: 0 0 25px #b74b4b;
}

.click a{
    padding: 40px;
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: #b74b4b;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b74b4b;
    transition: 0.3s ease;
    cursor: pointer;
    margin-left: 490px;
    text-decoration: none;
}

.btn:hover{
    transform: scale3d(1.03);
    background-color: #b74b4b;
    color: black;
    box-shadow: 0 0 25px #b74b4b;
}

.home-content h1{
    padding-left: 500px;
    padding-top: 50px;
    font-size: 50px;
    padding-bottom: 10px;
}
.home-content h3{
    font-size: 50px;
    font-weight: 700;
    margin-left:500px;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 5px;
}
.home-content p{
    font-size: 18px;
    margin-left: 480px;
    margin-right: 100px;
    padding-left: 20px;
    padding-bottom: 5px;

}

span{
    color: #b74b4b;
}
.gg img{
        position:absolute;
        width: 340px;
        margin-left: 50px;
        margin-top: 20px;
        border-radius: 25%;
}
span{
    font-size: 40px;
    font-weight: bold;
}
.about h1{
    padding-left: 580px;
    padding-top: 100px;
    font-size: 50px;
}
.about p{
    margin-left: 580px;
    margin-right: 100px;
    padding-top: 10px;
    font-size: 20px;
    color: #e3bdbd;
}
.image img{
    padding: 10px;
}
.contact h1{
    padding-left: 680px;
    padding-top: 70px;
    font-size: 20px;
    
    
}

.h img{
 
        position:absolute;
        height: 500px;
        width: 450px;
        margin-left: 100px;
        border-radius: 25%;
    
}
footer{
    text-align: center;
    padding-top: 10px;
    font-size: 15px;
    font-weight: bold;
    padding-left: 25px;
}